

.custom-input{
    height:50px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--shadow-color);
}


.select-input-2{
    height:50px;
}
.modale-style{
    font-weight: bold;
    margin-inline: 30%;
}

@media  screen and (min-width:450px) {
    .modale-style{
        margin-right: 0px;
    }
    
}